[[ define "web.layout.nav" ]]
<header class="navbar navbar-dark bg-dark navbar-expand-md">
    <nav class="container ">
        <a class="navbar-brand" href="/">Blog</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse " id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item ">
                    <a class="nav-link active" href="/">Home</a>
                </li>
                [[ range $k, $v := .categories ]]
                <li class="nav-item ">
                    <a class="nav-link" href="/category/[[ $v.Name ]]">[[ $v.Name ]]</a>
                </li>
                [[ end ]]
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
</header>
[[ end ]]